<div ng-controller="app.views.RequestForm as vm">
    <div class="divList">
        <p><b><i>Request Information Grid</i></b></p>
        <span ng-click="AddRequestDiv()" class="btn btn-default">
            Add Details
        </span>
        <span ng-click="RemoveDetails()" class="btn btn-default">
            Remove Details
        </span>
        <input type="button" value="Submit Request" ng-click="SubmitRequestDiv()" class="btn btn-default" />
           
      
        <table class="table table-hover">
            <tr>
                <td><b>ParticularId</b></td>
                <td><b>UnitId</b></td>
                <td><b>Rate</b></td>
                <td><b>Vat</b></td>
                <td><b>VateRate</b></td>
                <td><b>FinalRate</b></td>
                <td><b>Quantity</b></td>
                <td><b>Cost</b></td>
            </tr>

            <tr ng-repeat="request in requests">

                <td>
                    {{request.ParticularId}}
                </td>
                <td>
                    {{request.UnitId}}
                </td>
                <td>
                    {{request.Rate|currency}}
                </td>
                <td>
                    {{request.Vat}}
                </td>
                <td>
                    {{request.VateRate|currency}}
                </td>

                <td>
                    {{request.FinalRate|currency}}
                </td>
                <td>
                    {{request.Quantity}}
                </td>
                <td>
                    {{request.Cost|currency}}
                </td>
                <td>
                    <span ng-click="editRequest(request)" class="btn btn-primary" > Edit</span>
                    <span ng-click="DeleteRequest(emp)" class="btn btn-danger">Delete</span>
                </td>
                
            </tr>
        </table>
    </div>
   
    <div ng-show="divAddRequest">
        <p class="divHead"></p>
        <table class="table">
            <tr>
                <td><b><i>{{Action}} Request</i></b></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><b>ParticularDetails</b></td>
                <td>
                    <select ng-options="particalar.Item_id as particalar.Item_Description for particalar in particulars track by particalar.Item_id" ng-model="selected"></select>

                </td>
                <td><b>Units</b></td>
                <td>
                    <select ng-options="unit.Unit_Id as unit.Unit_Description for unit in units track by unit.Unit_Id" ng-model="unitid"></select>

                </td>
                <td><b>Rate</b></td>
                <td>
                    <input type="text" ng-model="Rate" />
                </td>
            </tr>
            <tr>
                <td><b>Vat</b></td>
                <td>
                    <input type="text" ng-model="Vat" />
                </td>
                <td><b>VateRate</b></td>
                <td>
                    <input type="text" ng-model="VateRate" />
                </td>
                <td><b>FinalRate</b></td>
                <td>
                    <input type="text" ng-model="FinalRate" />
                </td>
                <td><b>Quantity</b></td>
                <td>
                    <input type="text" ng-model="Quantity" />
                </td>
                <td><b>Cost</b></td>
                <td>
                    <input type="text" ng-model="Cost" />
                </td>
                
            </tr>
            <tr>
                <td>
                    <input type="button" class="btn btn-default" value="Save" ng-click="AddRequest()" />
                    <input type="button" class="btn btn-danger" value="Cancel" ng-click="Cancel()" />
                   
                </td>
            </tr>
        </table>
    </div>
</div>

